html {
  background-image: url("../images/fond_pizza.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
body {
  margin : 0;
}

nav{
  position: fixed;
}

ul{
  font-size: 2em;
  list-style-type: none;
}

a{
  text-decoration: none;
  color : white;
}

a:link{
 text-decoration : none;
 color : white;
}

a:hover{
  color : rgb(250, 83, 65);
}

.Here{
    color : rgb(250, 83, 65);
}

.Search{
  margin-left: 2em;
}

.Logo{
  margin-bottom: 2em;
}

.Titre{
  text-align: center;
  padding-bottom: 0.5em;
}

.Cadre {
  position: relative;
  border-style: solid;
  background: gray;
  margin-right: 20em;
  left: 15em;
  margin-left: 15em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 2em;
}

#Panier{
  padding-right: 61em;
  padding-bottom: 0em;
  padding-top: 0em;
}

#Mon_Panier{
    border : 1px solid black;
    background-color: beige;
    padding-bottom: 2em;
}

tr{
  display: flex;
}

tr > th,td
{
  border : 1px solid black;
  background-color: beige;
  padding-right : 4em;
  padding-left: 4em;
  padding-bottom: 5em;
}

h2{
  margin-left: 1em;
}

#Chorizo_Pizza {
  height: 400px;
  width: 412px;
  float: left;
}

#Vide{
  padding-right: 29.75em;
}

#Pizza_Carbonara{
  height: 400px;
  width: 390px;
  float: left;
}

#Total{
  padding-left: 46em;
  padding-right: 2em;
  font-size: 1.5em;
}


#pizza_chorizo{
  padding-right: 5.5em;
}

#Carbonara{
  padding-right: 6em;
}

.Rien{
  border : 0px solid black;
  margin-top : 2em;
  padding-left: 0em;
  padding-right: 0em;
}
