html {
  background-image: url("../images/fond_pizza.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin : 0;
}

.Cadre {
  margin-top: 2.5em;
  position: relative;
  border-style: solid;
  background: gray;
  margin-right: 20em;
  left: 15em;
  margin-left: 5em;
  margin-right: 30em;
}

h4, p{
  margin-left: 1em;
}

#attente{
  height: 140px;
  width: 20%;
  margin-left: 18em;
  border-radius: 20%;
  margin-bottom: 1em;
}
