body{
  background-image: url("../images/fond_pizza.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment:fixed;
}

ul{
  font-size: 2em;
  list-style-type: none;
}
